@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--off-white);
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Remove spinner for webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner for Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* General reset for number inputs */
input[type=number] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

button[type="submit"] {
  width: 64px;
  height: 64px;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
/* Mudança de cor quando o botão for clicado */
button[type="submit"]:active {
  background-color: black; /* Cor preta ao clicar */
}

button[type="submit"] svg {
  width: auto;
  height: auto;
}

button[type="submit"] svg {
  width: 46px; /* Ajuste de acordo com o SVG embutido */
  height: 44px;
}


.text-purple{
  color: var(--purple);
}


.text-smokey-grey{
  color: var(--smokey-grey);
}

@media (min-width: 768px) {
  button[type="submit"] {
      right: 0;
      left: auto;
      transform: translateY(-50%);
  }
}




/* Media query para telas a partir de 375px */
@media (max-width: 375px)  {
  /* Ajustando o botão para ficar centralizado na linha */
  .relative.my-8 {
    position: relative;
    height: 64px; /* Altura ajustada para a linha */
  }

  .relative.my-8 button[type="submit"] {
    position: absolute;
    top: 50%; /* Posiciona o botão no meio da linha */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o botão no meio exato da linha */
    margin-top: 0; /* Remove a margem superior */
  }
  
  /* Ajuste da largura do container principal para telas de 375px */
  .container {
    
    height: 75vh;
  }

  form{
    padding-top: 30px;
  }

  /* Ajuste da largura dos inputs */
  input[type="number"] {
    width: 100%; /* Largura reduzida dos inputs */
    display: flex;
    justify-content: center; /* Centraliza os inputs */
    align-items: center;
    flex-direction: column; /* Inputs em coluna */
  }

  /* Redução do tamanho das fontes dos labels */
  label {
    font-size: 0.875rem; /* Tamanho menor para os labels */
  }
}

